<div id="legendary-counts" class="section">
    <h3>Legendaries</h3>
    <div class="table-holder">
        <table>
            <tbody>
                <tr class="inverted">
                    <th class="indented"></th>
                    <th class="indented">Mythic</th>
                    <th class="indented">Rare</th>
                    <th class="indented">Uncommon</th>
                    <th></th>
                </tr>
                {% for rarity, counts in stats.legendaryCounts.breakdown %}
                <tr {% if loop.last %}class="inverted"{% endif %}>
                    <th class="left indented">{{ rarity }}</th>
                    {% for count in counts %}
                    <td {% if not loop.last %}class="indented"{% endif %}>{% if count %}{{ count }}{% endif %}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
