* {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

body {
    background-color: lightgray;
    margin: 0;
}

input {
    border: #8c8c8c 1px solid;
    border-radius: 2px;
    height: 2em;
    box-sizing: border-box;
}

input:focus {
    border-color: #337ab7;
}

button {
    height: 2em;
    background-color: white;
    color: #337ab7;
    box-sizing: border-box;
    border: #337ab7 1px solid;
    border-radius: 2px;
}

button:hover {
    background-color: #337ab7;
    color: white;
    border-color: white;
}

div#deck_composer_container input[type="text"] {
    width: 14em;
}

div#deck_composer_container input[type="number"] {
    width: 3em;
}

div.autocomplete {
    position: relative;
}

div.ac_items {
    position: absolute;
    top: 100%;
    left: 1px;
    z-index: 10;
}

div.ac_option {
    cursor: pointer;
    font-size: 0.857142em;
    background-color: #EEEEEE;
    border-left: #2e3436 4px solid;
    padding: 0 0.5em;
    min-width: 250px;
}

div.ac_option:hover {
    background-color: white;
    border-left-color: #337ab7;
}

#Header {
    background-color: #2e3436;
    color: white;
    font-size: 24px;
    padding: 1em;
    border-bottom-right-radius: 2em;
    margin-bottom: 1em;
}

#AppContainer {
    display: flex;
}

#AppContainer > div {
    flex: 1;
}
