@import "set-stats-colors";

$view-width: 1000px;

$articles-base-color: #2e6da4;
$table-border-radius: 0.8rem;

body#article-page {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #dfe6e9;
}

div#article-disclaimers {
    width: $view-width;
    margin: auto;
    background-color: $articles-base-color;
    color: #ffffff;
    padding: 7rem 5rem 2rem 4rem;
    font-size: 0.8rem;

    span {
        padding-bottom: 0.6rem;
        display: inline-block;
    }

    a, a:hover, a:active, a:visited {
        color: #ffffff;
    }
}

div#article-body {
    width: $view-width;
    margin: auto;
    background-color: #fff;
    padding: 4rem 4rem 8rem 5rem;
    color: $articles-base-color;
    display: flex;
    flex-direction: column;

    h1, h2, h3, h5, p {
        display: flex;
        flex-direction: column;
    }

    h2#set-name {
        font-size: 48px;
        text-align: center;
    }

    a {
        font-size: 1rem;
        color: $articles-base-color;
    }

    div.p {
        font-size: 1rem;
        line-height: 1.5rem;

        margin-bottom: 1.5rem;
    }

    table {
        &.full {
            font-size: 0.85rem;
        }
        border: 1px solid $articles-base-color;
        border-radius: $table-border-radius;
        border-spacing: 0;

        tr:first-child>:first-child { border-top-left-radius: $table-border-radius; }
        tr:first-child>:last-child { border-top-right-radius: $table-border-radius; }
        tr:last-child>:first-child { border-bottom-left-radius: $table-border-radius; }
        tr:last-child>:last-child { border-bottom-right-radius: $table-border-radius; }

        th, td {
            text-align: center;
            box-shadow: -1px -1px $articles-base-color;
        }
        th {
            min-width: 3rem;
        }
    }
    table.experiment-results {
        width: 100%;
    }

    table.cards-list {
        td {
            padding-left: 1rem;
            padding-right: 1rem;

            &:nth-of-type(1) {
                text-align: right;
            }
            &:nth-last-of-type(1) {
                text-align: left;
                padding-right: 2.5rem;
            }
        }
    }
}
