$scale: 2;

.div-h-1 { height: $scale * 0.1rem !important; }
.div-h-2 { height: $scale * 0.2rem !important; }
.div-h-3 { height: $scale * 0.3rem !important; }
.div-h-4 { height: $scale * 0.4rem !important; }
.div-h-5 { height: $scale * 0.5rem !important; }
.div-h-6 { height: $scale * 0.6rem !important; }
.div-h-7 { height: $scale * 0.7rem !important; }
.div-h-8 { height: $scale * 0.8rem !important; }
.div-h-9 { height: $scale * 0.9rem !important; }
.div-h-10 { height: $scale * 1.0rem !important; }
.div-h-11 { height: $scale * 1.1rem !important; }
.div-h-12 { height: $scale * 1.2rem !important; }
.div-h-13 { height: $scale * 1.3rem !important; }
.div-h-14 { height: $scale * 1.4rem !important; }
.div-h-15 { height: $scale * 1.5rem !important; }
.div-h-16 { height: $scale * 1.6rem !important; }
.div-h-17 { height: $scale * 1.7rem !important; }
.div-h-18 { height: $scale * 1.8rem !important; }
.div-h-19 { height: $scale * 1.9rem !important; }
.div-h-20 { height: $scale * 2.0rem !important; }
.div-h-21 { height: $scale * 2.1rem !important; }
.div-h-22 { height: $scale * 2.2rem !important; }
.div-h-23 { height: $scale * 2.3rem !important; }
.div-h-24 { height: $scale * 2.4rem !important; }
.div-h-25 { height: $scale * 2.5rem !important; }
.div-h-26 { height: $scale * 2.6rem !important; }
.div-h-27 { height: $scale * 2.7rem !important; }
.div-h-28 { height: $scale * 2.8rem !important; }
.div-h-29 { height: $scale * 2.9rem !important; }
.div-h-30 { height: $scale * 3.0rem !important; }
.div-h-31 { height: $scale * 3.1rem !important; }
.div-h-32 { height: $scale * 3.2rem !important; }
.div-h-33 { height: $scale * 3.3rem !important; }
.div-h-34 { height: $scale * 3.4rem !important; }
.div-h-35 { height: $scale * 3.5rem !important; }
.div-h-36 { height: $scale * 3.6rem !important; }
.div-h-37 { height: $scale * 3.7rem !important; }
.div-h-38 { height: $scale * 3.8rem !important; }
.div-h-39 { height: $scale * 3.9rem !important; }
