$creature-color: #2e6da4;
$section-color: $creature-color;
$section-background: #fff;

$mana-white: #fff;
$mana-blue: #2e6da4;
$mana-black: #485460;
$mana-red: #c0392b;
$mana-green: #16a085;
$mana-multi: #f39c12;
$mana-colorless: #bdc3c7;
