@import "set-stats-colors";

$view-width: 1000px;

body#set-stats {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #dfe6e9;
}

div#set-nav {
    display: flex;
    width: $view-width;
    margin: auto;
    flex-flow: row wrap;
    background-color: $section-color;
    padding-left: 4rem;
    padding-right: 5rem;

    a {
        display: block;
        text-align: center;
        margin: auto;
        width: 1rem;
        background-color: $section-color;
        color: $section-background;
        flex-grow: 1;
        text-decoration: none;
        border-left: 1px solid $section-background;
        border-right: 1px solid $section-background;
        padding: 0.4rem;
    }
}

.mana-W { background-color: $mana-white !important; }
.mana-U { background-color: $mana-blue !important; }
.mana-B { background-color: $mana-black !important; }
.mana-R { background-color: $mana-red !important; }
.mana-G { background-color: $mana-green !important; }
.mana-M { background-color: $mana-multi !important; }
.mana-E { background-color: $mana-colorless !important; }

div#disclaimers {
    width: $view-width;
    margin: auto;
    background-color: $section-color;
    color: #ffffff;
    padding: 7rem 5rem 2rem 4rem;
    font-size: 0.8rem;

    span {
        padding-bottom: 0.6rem;
        display: inline-block;
    }

    a, a:hover, a:active, a:visited {
        color: #ffffff;
    }
}

div#set-infographics {
    width: $view-width;
    margin: auto;
    background-color: #fff;
    padding: 4rem 4rem 8rem 5rem;
    color: $section-color;

    h2#set-name {
        font-size: 48px;
        text-align: center;
    }

    div.section {
        h3 {
            font-size: 2rem;
            padding-left: 1rem;
            padding-top: 2rem;
            border-bottom: 3px $section-color solid;
        }

        div.highlights-block {
            display: flex;

            div.highlights-item {
                flex-grow: 1;
                margin: 0.5rem;
                border: 3px $section-color solid;
                border-radius: 1.5rem;
                text-align: center;
                padding: 2rem;
                font-weight: 800;

                span.bigger {
                    font-size: 2rem;
                }
                span.smaller {
                    font-size: 1.6rem;
                }
            }
        }
        div.info {
            font-size: 1rem;
            margin-top: 1rem;
            padding-left: 0.7rem;
        }
        div.stats-histogram {
            border-radius: 1rem;
            padding: 1.2rem 1.5rem 1.5rem;
            border: 1px $section-color solid;
            margin-top: 1.5rem;
            display: flex;
            flex-flow: row wrap;

            &.part1 {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0;
                padding-bottom: 0;

                div.amount {
                    border-bottom: 0;
                }
            }

            &.part2 {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 1.2rem;

                h4 {
                    padding-top: 0.3rem;
                    width: 100%;
                    margin: 0;
                    margin-top: 0.6rem;
                    border-top: 1px $section-color solid;
                    border-bottom: 0;
                }

                div {
                    align-self: flex-start;
                    padding-top: 0;

                    div.div-hx {
                        border-radius: 0 0 0.5rem 0.5rem;
                        padding-top: 1.5rem;
                        background-color: $section-color;
                    }
                }
            }

            h4 {
                font-size: 1.3rem;
                padding-left: 1rem;
                padding-bottom: 0.3rem;
                width: 100%;
                margin: 0;
                border-bottom: 1px $section-color solid;
            }

            div {
                width: 3rem;
                padding-top: 1rem;
                margin-left: auto;
                margin-right: auto;
                align-self: flex-end;

                div.label {
                    white-space: nowrap;
                    padding: 0;
                    text-align: center;
                    margin-bottom: 0.2rem;
                }

                div.div-hx {
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    padding-top: 1.5rem;
                    box-sizing: border-box;
                    border: 1px $section-color solid;
                    background-color: $section-color;
                }

                div.amount {
                    padding-top: 3px;
                    text-align: center;
                    box-sizing: border-box;
                    padding-bottom: 0.2rem;
                    border: 1px $section-color solid;
                    border-top: 0;
                }
            }
        }

        div.stats-histogram-horizontal {
            border-radius: 1rem;
            padding: 1.2rem 1.5rem 1.5rem;
            border: 1px $section-color solid;
            margin-top: 1.5rem;
            display: flex;
            flex-flow: column;

            h4 {
                font-size: 1.3rem;
                padding-left: 1rem;
                padding-bottom: 0.3rem;
                width: 100%;
                margin: 0 0 1.3rem;
                border-bottom: 1px $section-color solid;
            }

            &.two-sides div.label {
                justify-content: center;
            }

            &>div {
                padding-top: 1rem;
                margin-left: 2rem;
                margin-right: 2rem;
                align-self: flex-start;
                display: flex;

                div.left-side-spike {
                    width: 350px;
                    display: flex;
                    justify-content: flex-end;
                }

                div {
                    height: 2rem;
                    box-sizing: border-box;

                    &.amount {
                        white-space: nowrap;
                        text-align: left;
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                    }

                    &.div-wx-rtl {
                        border-bottom-right-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                        border: 1px $section-color solid;
                        background-color: $section-color;
                        border-left: 0;
                    }

                    &.div-wx-ltr {
                        border-bottom-left-radius: 0.5rem;
                        border-top-left-radius: 0.5rem;
                        border: 1px $section-color solid;
                        background-color: $section-color;
                        border-right: 0;
                    }

                    &.label {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        border: 1px $section-color solid;
                        padding-right: 0.4rem;
                        padding-left: 0.4rem;
                        width: 7rem;
                    }
                }
            }
        }

        @import "sections/histogram-bended";
    }

    @import "sections/creature-types";
    @import "sections/creature-stats";
    @import "sections/legendaries-breakdown";
    @import "sections/creature-keywords";
    @import "sections/instants-vs-sorceries";

    div#legendary-counts {
        h3 {}
    }
}

@import "div-h-x";