@import "set-stats-colors";

$view-width: 1000px;

body#set-stats {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #dfe6e9;
}

div#set-nav {
    display: flex;
    width: $view-width;
    margin: auto;
    flex-flow: row wrap;
    background-color: $section-color;
    padding-left: 4rem;
    padding-right: 5rem;

    a {
        display: block;
        text-align: center;
        margin: auto;
        width: 1rem;
        background-color: $section-color;
        color: $section-background;
        flex-grow: 1;
        text-decoration: none;
        border-left: 1px solid $section-background;
        border-right: 1px solid $section-background;
        padding: 0.4rem;
    }
}

.mana-W { background-color: $mana-white !important; }
.mana-U { background-color: $mana-blue !important; }
.mana-B { background-color: $mana-black !important; }
.mana-R { background-color: $mana-red !important; }
.mana-G { background-color: $mana-green !important; }
.mana-M { background-color: $mana-multi !important; }
.mana-E { background-color: $mana-colorless !important; }

div#set-infographics {
    width: $view-width;
    margin: auto;
    background-color: #fff;
    padding: 4rem 4rem 4rem 5rem;
    color: $section-color;

    h2#set-name {
        font-size: 48px;
        text-align: center;
    }

    div.section {
        h3 {
            font-size: 2rem;
            padding-left: 1rem;
            padding-top: 2rem;
            border-bottom: 3px $section-color solid;
        }

        div.highlights-block {
            display: flex;

            div.highlights-item {
                flex-grow: 1;
                margin: 0.5rem;
                border: 3px $section-color solid;
                border-radius: 1.5rem;
                text-align: center;
                padding: 2rem;
                font-weight: 800;

                span.bigger {
                    font-size: 2rem;
                }
                span.smaller {
                    font-size: 1.6rem;
                }
            }
        }
        div.info {
            font-size: 1rem;
            margin-top: 1rem;
            padding-left: 0.7rem;
        }
    }

    @import "sections/creature-types";
    @import "sections/creature-stats";
    @import "sections/legendaries-breakdown";
    @import "sections/creature-keywords";

    div#legendary-counts {
        h3 {}
    }
}

@import "div-h-x";