@import "../set-stats-colors";

div#creature-types-breakdown {
    color: $section-color;

    h3 {
        font-size: 2rem;
        padding-left: 1rem;
        padding-top: 2rem;
        border-bottom: 3px $section-color solid;
    }

    div.other-types {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1.5rem 4rem 1.5rem 1.5rem;
        border: 1px $section-color solid;
        margin-top: 1.5rem;
        display: flex;
        flex-flow: row wrap;
        border-bottom: 0;

        div {
            width: 1.3rem;
            padding-top: 4rem;
            margin-left: auto;
            margin-right: auto;

            div.label {
                white-space: nowrap;
                transform-origin: top left;
                padding: 5px 0 0;
                margin-bottom: -0.4rem;
                transform: rotate(310deg);
            }

            div.div-hx {
                width: 1rem;
                border-radius: 0.5rem;
                padding-top: 1.5rem;
                background-color: $section-color;
            }

            div.amount {
                padding-top: 3px;
                text-align: center;
            }
        }
    }
    div.one-ofs {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border: 1px $section-color solid;
        padding: 0 1.5rem 1.5rem;
    }
}
