<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Robot Made This</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤔</text></svg>">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body id="homepage">
        <h2>My Robot Made This_</h2>
        <div id="projects-list">
            Actual project(s) -
            <a href="{{ path('set_index') }}">MtG sets statistics</a>

            <br />
            <br />
            Contact - <a href="mailto:myrobotmadethis@gmail.com">myrobotmadethis@gmail.com</a>
        </div>
{#        {% include 'stats.html.twig' %}#}
    </body>
</html>
