{% extends "base.html.twig" %}

{% block body %}
{#  Longest card name  #}
{# Special types - Equipments, Auras #}
{# Creature P/T stats #}
{# Types per creature breakdown #}
{# Keywords breakdown #}
<div id="set-infographics">
    <h2 id="set-name">{{ stats.getSetName() }}</h2>

    {% include 'set/sections/creature_stats_breakdown.html.twig' %}
    {% include 'set/sections/creature_type_breakdown.html.twig' %}
    {% include 'set/sections/legendary_counts.html.twig' %}
</div>
{% endblock %}