{% extends "base.html.twig" %}

{% block body %}
{# Instants vs sorceries - color breakdown? #}
{# Special types - Equipments, Auras #}
{# Random facts - count all types with X #}
{# Random facts - total cards in the set #}
{# Random facts - rename to just facts and put to the start #}
{# Textual comparison to previous sets - new types, keywords? #}
{% set colorNames = {
    W: 'White',
    U: 'Blue',
    B: 'Black',
    R: 'Red',
    G: 'Green',
    M: 'Multicolor',
    E: 'Colorless',
} %}
<div id="set-infographics">
    <h2 id="set-name">{{ stats.getSetName() }}</h2>

    {% include 'set/sections/instants_vs_sorceries.html.twig' %}
    {% include 'set/sections/creature_type_breakdown.html.twig' %}
    {% include 'set/sections/creature_stats_breakdown.html.twig' %}
    {% include 'set/sections/card_keyword_breakdown.html.twig' %}
    {% include 'set/sections/legendary_counts.html.twig' %}
    {% include 'set/sections/random_facts.html.twig' %}
</div>
{% endblock %}