{% extends "base.html.twig" %}

{% block body %}
{# Instants vs sorceries #}
{# Special types - Equipments, Auras #}
{# Command to create card fixture #}
<div id="set-infographics">
    <h2 id="set-name">{{ stats.getSetName() }}</h2>

    {% include 'set/sections/creature_type_breakdown.html.twig' %}
    {% include 'set/sections/creature_stats_breakdown.html.twig' %}
    {% include 'set/sections/card_keyword_breakdown.html.twig' %}
    {% include 'set/sections/legendary_counts.html.twig' %}
    {% include 'set/sections/random_facts.html.twig' %}
</div>
{% endblock %}